.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.Header {
  text-align: center;
}

.MainContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* background-color: grey; */
}

.CryptoList {
  display: flex;
  height: 800px;
  flex-direction: column;
  align-items: center;
  margin: 1%;
  padding: 1%;
}
